<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            margin: 0 auto;
        }
        img {
            height: 99vh;
            width: 100%;
            padding: 0;
        }
    </style>
</head>
<body>
<img src="https://novostipmr.com/sites/default/files/field/image/201506/06-05-15_nacbank.gif"
     alt="not_found">
</body>
</html>