<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background: rgba(204, 50, 183, 0.76);
        }
        .form {
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 300px;
            top: 50%;
            left: 50%;
            margin: -140px 0 0 -150px;
        }
        .input {
            height: 25px;
            margin-bottom: 4px;
            border: 2px solid rebeccapurple;
            border-radius: 8px;
        }
        .h1 {
            color: rebeccapurple;
            text-align: center;
        }
    </style>
</head>
<body>

    <form action="/signIn"  method="post" class="form">
        <h1 class="h1">Sign is!</h1>
        <input type="email" placeholder="Enter your email" class="input">
        <input type="password" placeholder="Enter your password" class="input">
        <input type="submit" name="ON" class="input">
    </form>

</body>
</html>
